/* FONT */

@font-face {
    font-family: "Poppins Regular";
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins SemiBold";
    src: url(fonts/Poppins-SemiBold.ttf);
}

/* MEDIA */



/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins Regular";
    font-size: 18px;
    line-height: 32px;
}

.container {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.login a:hover,
.footerBottomSignature a:hover,
.footerTopLink div a:hover {
    font-size: 1.25em;
}

h1,
h2 {
    font-family: "Poppins SemiBold";
    font-size: 80px;
    margin-bottom: 30px;
    line-height: 90px;
}

button:hover {
    cursor: pointer;
}

.buttonBlue:hover {
    background-color: #144fff;
}

.buttonOrange:hover {
    background-color: #f9c235;
}

.buttonBlue:active {
    background-color: #5314ff;
}

.buttonOrange:active {
    background-color: #ffb700;
}


/* HEADER */

/* aside */

aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

aside a {
    margin: 32.5px 0;
    width: 154px;
    height: 36px;
}

.login a {
    margin-right: 30px;
}

.login button {
    padding: 11px 50px;
    background-color: #3366FF;
    color: white;
    border:  #3366FF;;
    border-radius: 10px;
}

/* section */

.mainHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F7F5FD;
    padding: 70px 100px;
}

.headerTitle {
    max-width: 466px;
}

.headerTitle p {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 41px;
}

.headerTitle button {
    padding: 16px 50px;
    background-color: #F8D57E;
    border:  #F8D57E;;
    border-radius: 10px;
    margin-bottom: 60px;
}

.headerImage {
    max-width: 500px;
}

/* MAIN */

/* section 1 */

.videoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2FAF8;
    padding: 0 20px;
}

.videoSection img {
    margin: 70px auto;
    display: block;
    width: auto;
}

/* section 2 */

.icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 80px 36px;
}

.icons a:not(:last-of-type) {
    margin-right: 70px;
}

/* section 3 */

.category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 116px 90px;
}

.category div {
    width: 230px;
    text-align: center;
}

.category div svg,
.category div img {
    margin-bottom: 40px;
}

.category div p:first-of-type {
    font-family: "Poppins SemiBold";
    margin-bottom: 15px;
}

/* section 4 */

.quoteSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ECE7FB;
    padding: 50px 47.5px;
}

.quoteSection img {
    max-width: 353px;
    margin-right: 60px;
    border-radius: 50%;
}

.quote {
    max-width: 418px;
}

.quote svg {
    margin-bottom: 20px;
}

.quote p:first-of-type {
    font-family: "Poppins SemiBold";
    margin-bottom: 40px;
}

.quote p:last-of-type {
    color: rgba(0, 0, 0, 0.5);
}

/* section 5 */

.talkSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FCFAF5;
    padding: 60px 20px;
}

.talkContainer {
    max-width: 385px;
    margin-right: 100px;
}

.talkContainer p {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 41px;
}

.talkContainer button {
    padding: 16px 50px;
    background-color: #F8D57E;
    border:  #F8D57E;;
    border-radius: 10px;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    padding: 70px 80.5px;
}

.footerTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 33px;
}

.footerTopMail {
    display: flex;
    flex-direction: column;
}

.footerTopMail a {
    margin-bottom: 75px;
}

form {
    display: flex;
    align-items: end; 
    max-width: 456px;
}

form label {
    display: flex;
    flex-direction: column;
}

form label p {
    margin-bottom: 12px;
}

form label input {
    width: 320px;
    padding: 11px 20px;
    margin-right: 20px;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
}

form button {
    padding: 11px 31.5px;
    background-color: #3366FF;
    color: white;
    border: 1px solid #3366FF;;
    border-radius: 10px;
}

.footerTopLink {
    display: flex;
}

.footerTopLink div {
    display: flex;
    flex-direction: column;
}

.footerTopLink div:not(:last-of-type) {
    margin-right: 60px;
}

.footerTopLink div a:first-child {
    font-family: "Poppins SemiBold";
}

.footerBottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerBottomSignature {
    display: flex;
}

.footerBottomSignature * {
    font-family: "Poppins SemiBold";
}

.footerBottomSignature p,
.footerBottomSignature a:not(:last-of-type) {
    margin-right: 30px;
}

.footerBottomIcons a:not(:last-of-type) {
    margin-right: 20px;
}


